:root {
    --primary-color: #FFDE00;
    --primary-light-color: #FFE769;
    --secondary-color: #FFE4BA;
    --secondary-light-color: #FFF6E8;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;

    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
    
    --border-width: 3px;
    --element-border-radius: 5px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 320px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: var(--dark-color);
    background-color: var(--secondary-light-color);
    font-family: var(--primary-font);
}

h1, h2 {
    margin: 0;
}

h2 {
    font-weight: 500;
}

.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}

nav {
    margin: 0.6em 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logged-out-view .container {
    gap: 2em;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

input, button {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}

input:focus, button:focus {
    outline: none;
}

input {
    font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-color);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
}

button {
    font-weight: 600;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}

.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}

.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.provider-btn {
    color: var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
}

.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}

#logged-out-view {
    display: none;
}

#logged-in-view {
    display: none;
    margin: 0;
}