<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS -->
        <link rel="stylesheet" href="../styles/tailwind.css" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

        <!-- Title and Icon -->
        <title>Contact us – img-background-removal</title>
        <link rel="shortcut icon" type="image/png" href="../images/img-bg-removal-no-text-icon.png" />
    </head>

    <body class="font-rethink text-black text-opacity-100">
        <!-- Header -->
        <header class="bg-white font-medium text-lg">
            <nav class="flex justify-between items-center px-8 py-2 bg-white fixed lg:top-0 w-full shadow-lg z-[1000]">
                <div>
                    <a href="../index.html">
                        <img class="w-36 lg:w-52" src="../images/img-bg-removal-icon.png" alt="img-background-removal" />
                    </a>
                </div>
                <div class="navbar-items hidden lg:flex items-center absolute lg:static bg-white min-h-auto lg:min-h-fit left-0 top-[-100%] mt-[115.78px] lg:mt-0 w-full lg:w-auto p-10 lg:p-2 shadow-lg lg:shadow-none">
                    <ul class="flex flex-col relative lg:flex-row lg:items-center lg:gap-20 gap-8">
                        <li>
                            <a class="text-black text-opacity-100 hover:text-opacity-60" href="remove-bg.html">Remove Background</a>
                        </li>
                        <li>
                            <a class="text-black text-opacity-100 hover:text-opacity-60" href="not-found.html">How to use?</a>
                        </li>
                        <li>
                            <a class="text-black text-opacity-100 hover:text-opacity-60" href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a class="text-black text-opacity-100 hover:text-opacity-60" href="contact-us.html">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div id="before-sign-in" class="flex items-center gap-6">
                    <button class="bg-sky-400 hover:bg-opacity-80 px-5 py-2 rounded-full"><a href="sign-up.html">Sign up</a></button>
                    <i class="lucide-menu cursor-pointer lg:hidden" data-lucide="menu" onclick="onClickHamburger(this)"></i>
                    <i class="lucide-x cursor-pointer hidden" data-lucide="x" onclick="onClickHamburger(this)"></i>
                </div>
                <div id="after-sign-in" class="hs-dropdown relative flex-row justify-center items-center gap-6 hidden">
                    <button id="hs-dropdown-custom-trigger" type="button" class="hs-dropdown-toggle py-1 ps-1 pe-2 inline-flex items-center gap-x-2 md:gap-x-4 font-semibold rounded-full border border-gray-300 bg-white text-black shadow-sm hover:bg-gray-50">
                        <img class="w-8 h-auto rounded-full" src="../images/elements/default-profile-picture.png" alt="Default Profile Picture" />
                        <span class="user-greetings text-gray-600 font-medium truncate max-w-[8rem]"></span>
                        <svg class="hs-dropdown-open:rotate-180 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6" /></svg>
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[12.5rem] bg-white shadow-2xl rounded-lg p-2 mt-2" aria-labelledby="hs-dropdown-custom-trigger">
                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="../views/dashboard.html">
                            <i data-lucide="users"></i>
                            <p>My profile</p>
                        </a>
                        <a class="sign-out-button flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="#">
                            <i data-lucide="log-out"></i>
                            <p>Sign out</p>
                        </a>
                    </div>
                    <i class="lucide-menu cursor-pointer lg:hidden" data-lucide="menu" onclick="onClickHamburger(this)"></i>
                    <i class="lucide-x cursor-pointer hidden" data-lucide="x" onclick="onClickHamburger(this)"></i>
                </div>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            <!-- Section 1: Contact us -->
            <div class="pt-[104px] md:pt-28 lg:pt-32">
                <div class="max-w-[85rem] px-8 pt-12 pb-32 md:pb-28 mx-auto">
                    <div class="mx-auto max-w-2xl">
                        <div class="text-center">
                            <h2 class="text-gray-800 font-bold text-4xl md:text-5xl [text-wrap:balance]">Leave your information here!</h2>
                        </div>
                        <div class="relative z-10 bg-white border rounded-xl mt-8 md:mt-10 p-10 shadow-xl">
                            <form>
                                <div class="mb-8">
                                    <label for="full-name-for-emailjs" class="block mb-2 text-md font-medium">Full name</label>
                                    <input type="text" id="full-name-for-emailjs" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-md focus:border-blue-500 focus:ring-blue-500" placeholder="Full name" />
                                </div>
                                <div class="mb-8">
                                    <label for="email-for-emailjs" class="block mb-2 text-md font-medium">Email address</label>
                                    <input type="email" id="email-for-emailjs" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-md focus:border-blue-500 focus:ring-blue-500" placeholder="Email address" />
                                </div>
                                <div>
                                    <label for="comment-for-emailjs" class="block mb-2 text-md font-medium">Comment</label>
                                    <div class="mt-1">
                                        <textarea id="comment-for-emailjs" name="comment-for-emailjs" rows="3" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-md focus:border-blue-500 focus:ring-blue-500" placeholder="Leave your comment here..."></textarea>
                                    </div>
                                </div>
                                <div class="mt-6 grid">
                                    <button id="submit-button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-md font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 2: Newsletter -->
            <div class="max-w-full" style="background-image: url(../images/elements/doodle-background.jpg); background-size: cover">
                <div class="max-w-[85rem] px-8 py-24 mx-auto">
                    <div class="grid md:grid-cols-2 gap-8">
                        <div class="max-w-md">
                            <h2 class="font-bold text-4xl md:leading-tight">Newsletters</h2>
                            <p class="mt-3 text-gray-600">Subscribe our newsletter today to stay updated every moment!</p>
                        </div>
                        <form>
                            <div class="w-full">
                                <div class="flex flex-col items-center gap-4 md:flex-row">
                                    <div class="w-full">
                                        <input type="text" id="hero-input" name="hero-input" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-md focus:border-blue-500 focus:ring-blue-500" placeholder="Enter your email" />
                                    </div>
                                    <a class="w-full md:w-auto whitespace-nowrap py-3 px-4 inline-flex justify-center items-center gap-x-2 text-md font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700" href="#"> Subscribe </a>
                                </div>
                                <p class="mt-3 text-sm text-black">No spam, unsubscribe at any time.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bg-white w-full py-12 px-4 mx-auto">
            <div class="text-center border-t-[2px] border-gray-200">
                <!-- Thông tin nhóm -->
                <div class="flex justify-center items-center mt-6">
                    <div class="max-w-fit">
                        <a class="text-[48px] md:text-[56px] lg:text-[64px] font-bold text-black hover:text-opacity-80" href="https://github.com/nghtamm2003/img-background-removal">Nhóm 14</a>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="font-regular text-lg">Chúng tôi là thành viên của Học viện Ngân hàng, đóng đô tại <a class="font-semibold text-blue-500 hover:text-blue-700" href="https://www.hvnh.edu.vn/">số 12 Chùa Bộc, Đống Đa, Hà Nội.</a></p>
                </div>

                <!-- Google Maps -->
                <div class="flex flex-wrap justify-center mt-6">
                    <div class="max-w-[300px] max-h-[400px] md:max-w-[600px] md:max-h-fit lg:max-w-fit border-4 border-gray-600 rounded-2xl">
                        <iframe class="max-w-[250px] max-h-[350px] md:max-w-[550px] md:max-h-fit lg:max-w-[600px] rounded-xl" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5884919834384!2d105.8262382759776!3d21.009126380635408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac800f450807%3A0x419a49bcd94b693a!2zSOG7jWMgVmnhu4duIE5nw6JuIEjDoG5n!5e0!3m2!1svi!2s!4v1702732206889!5m2!1svi!2s" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <!-- Thông tin thành viên -->
                <div class="flex flex-wrap justify-center items-center mt-14 gap-16">
                    <a href="https://www.facebook.com/nghtamm2003" class="flex flex-col justify-center items-center">
                        <img class="w-[150px] h-[150px] rounded-full border-[6px] border-slate-300 shadow-lg overflow-hidden hover:opacity-80 object-cover" src="../images/authors/Tâm.jpg" alt="Nguyễn Hoàng Tâm" />
                        <p class="font-semibold mt-6">Nguyễn Hoàng Tâm</p>
                        <p class="font-medium text-gray-500">Nhóm trưởng</p>
                    </a>
                    <a href="https://www.facebook.com/phngnh144" class="flex flex-col justify-center items-center">
                        <img class="w-[150px] h-[150px] rounded-full border-[6px] border-slate-300 shadow-lg overflow-hidden hover:opacity-80 object-cover" src="../images/authors/Phương Anh.jpg" alt="Hà Phương Anh" />
                        <p class="font-semibold mt-6">Hà Phương Anh</p>
                        <p class="font-medium text-gray-500">Thành viên</p>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100019288065795" class="flex flex-col justify-center items-center">
                        <img class="w-[150px] h-[150px] rounded-full border-[6px] border-slate-300 shadow-lg overflow-hidden hover:opacity-80 object-cover" src="../images/authors/Ánh.jpg" alt="Trần Ngọc Ánh" />
                        <p class="font-semibold mt-6">Trần Ngọc Ánh</p>
                        <p class="font-medium text-gray-500">Thành viên</p>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100010495417637" class="flex flex-col justify-center items-center">
                        <img class="w-[150px] h-[150px] rounded-full border-[6px] border-slate-300 shadow-lg overflow-hidden hover:opacity-80 object-cover" src="../images/authors/Ngân.jpg" alt="Hà Thị Ngân" />
                        <p class="font-semibold mt-6">Hà Thị Ngân</p>
                        <p class="font-medium text-gray-500">Thành viên</p>
                    </a>
                </div>
            </div>
        </footer>

        <!-- Script -->
        <script src="../scripts/preline.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
        <script src="../scripts/responsive.js"></script>
        <script type="module" src="../scripts/firebase.bundle.js"></script>
        <script type="module" src="../scripts/emailjs.bundle.js"></script>
    </body>
</html>
